div{
  display: flex;
  flex-direction: column;
}

div{
  display: flex;
  flex-wrap: wrap;
}
button{
  position: absolute;
}
div{
  background-image: url('image.png');
  background-position: center;
}
h1{
  text-align: center;
  border: 1px, solid, red;
}
.box{
  background-image: url('');
  background-position: center;
  background-size: contain;
}
#pic{
  margin-right: 6px;
}