body{
  background-color: #0C1527;
}

input {
  border:1px solid #FF9E03;
}
label {
  font-weight: bold;
  color: #FF9E03;
}


input[type="text"] {
  border: 1px solid #FF9E03;
  background-color: #17233B;
}

input[type="text"], input[type="email"] {
  border: 1px solid #FF9E03;
  background-color: #17233B;
  color: #FFFFFF;
  font-weight: bold;
}

input[type='submit'] {
  background-color: #149EF2;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: white;
}

button{
  border-radius: 20px;
}

#avatar{
  /*border-radius: 50%;*/
  border-radius: 20px 15px 10px 8px;
}

input[type='submit']:active {
  background-color: #0C1527;
  color: #FF9E03;
  border: 1px solid #FF9E03;
  border-radius: 10px;
}

input[type="submit"] :hover{
  color: blue;
}

input[type="submit"]{
  border: none;
}